{
    "presets": [
        [
            "babel-preset-gatsby",
            {
                "targets": {
                    "browsers": [
                        ">0.25%",
                        "not dead",
                        "not ie 11",
                        "not op_mini all"
                    ]
                },
                "reactRuntime": "automatic"
            }
        ]
    ],
    "plugins": [
        [
            "prismjs",
            {
                "languages": [
                    "javascript",
                    "css",
                    "html",
                    "go",
                    "csharp",
                    "typescript",
                    "tsx",
                    "jsx",
                    "swift",
                    "ruby",
                    "scss"
                ],
                "plugins": [
                    "show-language",
                    "line-numbers",
                    "normalize-whitespace"
                ],
                "theme": "tomorrow",
                "css": true
            }
        ]
    ]
}
