html {
  background-color: var(--main-bg-color);
  color: var(--text-color);
  font-family: ui-rounded, "Hiragino Maru Gothic ProN", Quicksand, Comfortaa,
    Manjari, "Arial Rounded MT", "Arial Rounded MT Bold", Calibri,
    source-sans-pro, sans-serif;
  font-weight: normal;
}

code {
  font-family: ui-monospace, "Cascadia Code", "Source Code Pro", Menlo, Consolas,
    "DejaVu Sans Mono", monospace;
  font-weight: normal;
}

a {
  color: var(--primary);
  text-decoration: none;

  &:hover {
    color: var(--primary-hover);
  }
}
