:root {
  --color-raisin-black: #272838;
  --color-independence: #5D536B;
  --color-french-lilac: #7D6B91;
  --color-blue-bell: #989FCE;
  --color-magnolia: #F7F0F5;

  --main-bg-color: var(--color-raisin-black);
  --widget-bg: var(--color-independence);

  --primary: var(--color-french-lilac);
  --primary-hover: var(--color-magnolia);

  --text-color: var(--color-blue-bell);
}
