$burundy: #80111f;
$honeydew: #f1faee;
$imperial-red: #e63946;
$onyx: #393e41;

$breakpoint-small: 320px; // mobile
$breakpoint-medium: 768px; // tablet portrait
$breakpoint-large: 992px; // tablet landscape
$breakpoint-extra-large: 1200px; // desktop/laptop

.mobile-only {
    @media (min-width: $breakpoint-medium) {
        display: none;
    }
}

.tablet-up {
    @media (max-width: ($breakpoint-medium - 0.02px)) {
        display: none;
    }
}

body {
    background-color: $honeydew;
    color: $onyx;
    font-family: 'Source Code Sans', sans-serif;
}

img {
    max-height: 100%;
    max-width: 100%;
}

.container {
    margin: 0 24px;

    @media screen and (min-width: $breakpoint-large) {
        max-width: 992px;
        margin: 0 auto;
    }
}

.layout-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    main {
        flex: 1;
        padding-top: 16px;
        padding-bottom: 16px;
    }
}

.layout-nav {
    background-color: $burundy;
    color: #fff;
    padding-top: 8px;
    padding-bottom: 8px;

    a {
        font-size: 1.2em;
        color: #fff;
        text-decoration: none;
    }
    nav {
        ul {
            // Clear Default List Style
            list-style: none;
            margin-block-start: 0;
            margin-block-end: 0;
            margin-inline-start: 0;
            margin-inline-start: 0;
            padding-inline-start: 0;

            li {
                margin-top: 8px;
                margin-bottom: 8px;
                padding: 8px;
                background-color: rgba(0, 0, 0, 0.2);
                border-radius: 4px;
            }
        }
    }
}

.layout-header {
    background-color: $imperial-red;
    color: #fff;
    height: 48px;
    font-size: 32px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;

    a {
        color: #fff;
        text-decoration: none;
    }

    .container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        @media screen and (min-width: $breakpoint-large) {
            width: 100%;
            max-width: 992px;
            margin: 0 auto;
        }
    }

    nav {
        ul {
            // Clear Default List Style
            list-style: none;
            margin-block-start: 0;
            margin-block-end: 0;
            margin-inline-start: 0;
            margin-inline-start: 0;
            padding-inline-start: 0;

            display: flex;
            flex-direction: row;
            justify-content: space-around;

            li {
                margin-left: 8px;
                margin-right: 8px;
            }
        }
    }
}

.layout-footer {
    background-color: $burundy;
    color: #fff;
    flex-shrink: 0;
    padding-top: 16px;
    padding-bottom: 16px;
}
