---

---

<div class="navbar">
  <div class="logo"><h1><a href="/garden/">garden</a></h1></div>
  <div class="navitems">
    <nav>
      <ul>
        <li><a href="/garden/">home</a></li>
        <li><a href="/garden/notes">notes</a></li>
      </ul>
    </nav>
  </div>
</div>

<style>
  div.navbar {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0.5rem;
  }

  div.navitems > nav {
    height: 100%;
  }

  div.navitems > nav ul {
    align-items: center;
    display: flex;
    flex-direction: row;
    height: 100%;
    justify-content: flex-end;
    gap: 0.5rem;
  }
</style>
