---
import Layout from "../layouts/Layout.astro";
import { getCollection } from "astro:content";
import PostArticle from "../components/Post/PostArticle.astro";

const publishedBlogPosts = await getCollection(
  "blog",
  ({ data }) => !data.draft
);
const sortedByDate = publishedBlogPosts.sort((a, b) => {
  const dateA = a.data.date;
  const dateB = b.data.date;

  if (dateA < dateB) return 1;
  if (dateA > dateB) return -1;
  return 0;
});
---

<Layout
  title="Index"
  description={"I'm Tensei, a software developer focused primarily in frontend development with JavaScript, TypeScript, and React."}
>
  <main>
    <ul>
      {
        sortedByDate.slice(0, 5).map(async (blogPost) => {
          const { Content } = await blogPost.render();
          return (
            <li>
              <PostArticle post={blogPost} excerpt />
            </li>
          );
        })
      }
    </ul>
  </main>
</Layout>

<style lang="scss">
  main {
    margin: auto;
    padding: 1.5rem;
    max-width: 100ch;
  }
</style>
