---
import Layout from "../layouts/Layout.astro";
import { getCollection } from "astro:content";
import PostArticle from "../components/Post/PostArticle.astro";

const publishedBlogPosts = await getCollection("blog", ({data}) => !data.draft);
---

<Layout>
  <main>
    <ul>
      {
        publishedBlogPosts.slice(0, 5).map(async (blogPost) => {
          const { Content } = await blogPost.render();
          return (
            <li>
              <PostArticle post={blogPost} excerpt />
            </li>
          );
        })
      }
    </ul>
  </main>
</Layout>

<style lang="scss">
  main {
    margin: auto;
    padding: 1.5rem;
    max-width: 100ch;
  }
</style>
