---
import Footer from "../components/Layout/Footer.astro";
import Navbar from "../components/Layout/Navbar.astro";
import BaseLayout from "./BaseLayout.astro";

export interface Props {
  title?: string;
  description?: string;
}

const { title, description } = Astro.props;
---

<BaseLayout title={title} description={description}>
  <Navbar />
  <div class="page-content">
    <slot />
  </div>
  <Footer />
</BaseLayout>
<style>
  .page-content {
    min-height: 100%;
    flex-grow: 1;
    margin-bottom: auto;
  }
</style>
