---
import Footer from "../components/Layout/Footer.astro";
import TopBar from "../components/TopBar/TopBar.astro";
import BaseLayout from "./BaseLayout.astro";

export interface Props {
  title?: string;
}

const { title } = Astro.props;
---

<BaseLayout title={title}>
  <TopBar siteTitle="code.tnsi" />
  <div class="page-content">
    <slot />
  </div>
  <Footer />
</BaseLayout>
<style>
  .page-content {
    flex-grow: 1;
    margin-bottom: auto;
  }
</style>
